<h1>10 up-down</h1>
<div class="column-group horizontal-gutters">
  <div class="all-100 align-center number">
    {{points}}pts
  </div>
  <div class="all-50">
    <div class="column-group">
      <div class="all-100 align-center number-sub">{{ right }}<i class="fa fa-circle-o" aria-hidden="true"></i></div>
      <div class="button-group">
        <button class="ink-button red all-100 button-text" (click)="onIncreaseRight()"><i class="fa fa-circle-o" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
  <div class="all-50">
    <div class="column-group">
      <div class="all-100 align-center number-sub">{{ miss }}<i class="fa fa-times" aria-hidden="true"></i></div>
      <div class="button-group">
        <button class="ink-button blue all-100 button-text" (click)="onIncreaseMiss()"><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
  <div class="button-group all-100">
    <button class="ink-button push-center button_function-text" (click)="undo()"><i class="fa fa-undo" aria-hidden="true"></i>Undo</button>
    <button class="ink-button push-center button_function-text" (click)="reset()">Reset</button>
  </div>
</div>
