<h1>10 by 10</h1>
<div class="column-group horizontal-gutters">
  <div class="all-100 align-center number">
    {{points}}pts
  </div>
  <div class="all-100 align-center number-sub">
    ({{ right }} by {{ miss_initial - miss }})
  </div>
  <div class="all-50">
    <div class="column-group">
      <div class="all-100 align-center number-sub">{{ right }}<i class="fa fa-circle-o" aria-hidden="true"></i></div>
      <div class="button-group">
        <button class="ink-button red all-100" (click)="onIncreaseRight()"><i class="fa fa-circle-o" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
  <div class="all-50">
    <div class="column-group">
      <div class="all-100 align-center number-sub">{{ miss }}<i class="fa fa-times" aria-hidden="true"></i></div>
      <div class="button-group">
        <button class="ink-button blue all-100" (click)="onIncreaseMiss()"><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
  <div class="button-group all-100">
    <button class="ink-button push-center" (click)="undo()"><i class="fa fa-undo" aria-hidden="true"></i>Undo</button>
    <button class="ink-button push-center" (click)="reset()">Reset &amp; Record to Stats</button>
  </div>
</div>
<h2>Configulation</h2>
<form [formGroup]="configForm" (submit)="changeParameters()" class="ink-form">
  <div class="all-50 column-group gutters">
    <div class="control-group all-100 validation" [class.error]="missInitial.hasError('notInteger') && !missInitial.hasError('required')">
      <label for="right">誤答pt初期値</label>
      <div class="control">
        <input type="text" placeholder="1" formControlName="missInitial">
      </div>
    </div>
    <button class="ink-button green push-right" type="submit" [disabled]="!configForm.valid">Change!</button>
  </div>
</form>
