<div class="column-group">
  <div class="align-center all-100 rule">
    <a [routerLink]="['/simple']">Simple</a>
  </div>
  <div class="align-center all-100 rule">
    <a [routerLink]="['/mn']">+m/-n</a>
  </div>
  <div class="align-center all-100 rule">
    <a [routerLink]="['/by']">10 by 10</a>
  </div>
  <div class="align-center all-100 rule">
    <a [routerLink]="['/updown']">10 up-down</a>
  </div>
  <div class="align-center all-100 rule">
    Swedish 10
  </div>
  <div class="align-center all-100 rule">
    10 divide 10
  </div>
  <div class="align-center all-100 rule">
    Square 20
  </div>
</div>
