<nav class="ink-navigation">
    <ul class="menu horizontal black">
        <li class="heading active"><a href="#">Home</a></li>
        <li class="disabled">
            <a href="#">Choose a Rule</a>
            <ul class="submenu">
                <li class="disabled"><a href="#">Simple</a></li>
                <li class="disabled"><a href="#">+m/-n</a></li>
                <li class="disabled"><a href="#">10 by 10</a></li>
                <li class="disabled"><a href="#">Swedish 10</a></li>
                <li class="disabled"><a href="#">10 divide 10</a></li>
            </ul>
        </li>
    </ul>
</nav>
<app-simple></app-simple>
<footer>
  Coded by M Uesaka
</footer>
