<h1>+m/-n</h1>
<div class="column-group horizontal-gutters">
  <div class="all-100 align-center number">
    {{points}}pts
  </div>
  <div class="all-50">
    <div class="column-group">
      <div class="all-100 align-center number-sub">{{ right }}<i class="fa fa-circle-o" aria-hidden="true"></i></div>
      <div class="button-group">
        <button class="ink-button red all-100 button-text" (click)="onIncreaseRight()"><i class="fa fa-circle-o" aria-hidden="true"></i>(+{{right_plus}}pts)</button>
      </div>
    </div>
  </div>
  <div class="all-50">
    <div class="column-group">
      <div class="all-100 align-center number-sub">{{ miss }}<i class="fa fa-times" aria-hidden="true"></i></div>
      <div class="button-group">
        <button class="ink-button blue all-100 button-text" (click)="onIncreaseMiss()"><i class="fa fa-times" aria-hidden="true"></i>(-{{miss_minus}}pts)</button>
      </div>
    </div>
  </div>
  <div class="button-group all-100">
    <button class="ink-button push-center button_function-text" (click)="undo()"><i class="fa fa-undo" aria-hidden="true"></i>Undo</button>
    <button class="ink-button push-center button_function-text" (click)="reset()">Reset</button>
    <button class="ink-button push-center button_function-text" (click)="toggleConfigVisible()">Config</button>
  </div>
</div>
<div *ngIf="is_config_visible">
  <h2>Configulation</h2>
  <form [formGroup]="configForm" (submit)="changeParameters()" class="ink-form">
    <div class="all-50 column-group gutters">
      <div class="control-group all-100 validation" [class.error]="rightPlus.hasError('notInteger') && !rightPlus.hasError('required')">
        <label for="right">正解時</label>
        <div class="control">
          <input type="text" placeholder="1" formControlName="rightPlus">
        </div>
      </div>
      <div class="control-group all-100 validation" [class.error]="missMinus.hasError('notInteger') && !missMinus.hasError('required')">
        <label for="miss">誤答時</label>
        <div class="control">
          <input type="text" placeholder="1" formControlName="missMinus">
        </div>
      </div>
      <div class="all-100">
        <button class="ink-button green button_function-text push-left" type="submit" [disabled]="!configForm.valid">Change!</button>
      </div>
    </div>
  </form>
</div>
