<h1>Simple</h1>
<div class="ink-grid">
  <div class="column-group">
    <div class="all-50">
      <div class="column-group">
        <div class="all-100 align-center number">{{ right }}○</div>
        <div class="button-group">
          <button class="ink-button red all-100" (click)="onIncreaseRight()">○</button>
        </div>
      </div>
    </div>
    <div class="all-50">
      <div class="column-group">
        <div class="all-100 align-center number">{{ miss }}×</div>
        <div class="button-group">
          <button class="ink-button blue all-100" (click)="onIncreaseMiss()">×</button>
        </div>
      </div>
    </div>
    <div class="button-group all-100">
      <button class="ink-button push-center" (click)="undo()">Undo</button>
      <button class="ink-button push-center" (click)="reset()">Reset &amp; Record to Stats</button>
    </div>
  </div>
</div>
