/* You can add global styles to this file, and also import other style files */

.number {
  font-size: 3em;
}
.number-sub {
  font-size: 2em;
}

.point {
  text-align: center;
}

.button-text {
  font-size: 1.5em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

.button_function-text {
  font-size: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

li .submenu--disabled {
  color: #ccc;
  background-color: #333;
}
