<h1>このアプリについて</h1>
<p>フリバなどする際に，得点を記録する方法は色々あります．紙に「正」の字を書く，小銭を取り出す，トランプを持ってくる．...etc</p>
<p>このアプリは，スマートフォンなどでウェブからアクセスして，得点記録を行うものです．</p>
<p>「Rule」からルールを選んで使用してください．</p>

<h2>更新履歴</h2>
<dl>
  <dt>2016-11-09</dt>
  <dd>
    <ul>
      <li><a [routerLink]="['/mn']">+m/-n</a>と<a [routerLink]="['/by']">10 by 10</a>に"Config"ボタンを設置しました．これを押すと，Configurationの画面の表示・非表示を切り替えることができます．</li>
      <li><a [routerLink]="['/by']">10 by 10</a>で，誤答ポイント初期値を変えたときに得点が再計算されないままになっていましたが，これを再計算するように修正しました．</li>
    </ul>
  </dd>
  <dt>2016-11-08</dt>
  <dd><ul>
    <li><a [routerLink]="['/swedish']">Swedish 10</a>を実装しました．</li>
    <li><a [routerLink]="['/divide']">10 divide 10</a>を実装しました．</li>
  </ul></dd>
  <dt>2016-11-07</dt>
  <dd>
    <ul>
      <li><a [routerLink]="['/updown']">10 up-down</a>を実装しました．</li>
      <li>ボタンを大きくしました．</li>
      <li>サブメニューを廃止しました．「Rule」を押すと，各ルールへのリンクを設置したページに飛ぶようにしています．</li>
    </ul>
  </dd>
  <dt>2016-11-06</dt>
  <dd>
    <ul>
      <li>テストリリース．<a [routerLink]="['/simple']">Simple</a>と<a [routerLink]="['/mn']">+m/-n</a>を実装しました．</li>
      <li>(追加) <a [routerLink]="['/by']">10 by 10</a>を実装しました．</li>
      <li>(追加) <a [routerLink]="['/stat']">Stat</a>を実装しました．画面を更新しない限り，正解数と誤答数が記録され，通算の正解数と誤答数を知ることができます．</li>
    </ul>
  </dd>
</dl>
